header {
    height: 100vh;
    background: url(assets/image-1.jpeg) center no-repeat fixed;
    background-size: cover;
}

.wrapper--flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
}

.wrapper--left {
    max-width: 1080px;
    margin: 150px auto;
}

.global__h2--flex {
    flex-basis: 40%;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-basis: 60%;
    flex-direction: row;
    &__container {
        display: flex;
        flex: 1 0 100%;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        padding: 0;
    }
    &__list {
        list-style-type: none;
        font-family: $basefont;
        text-transform: $up;
    } 
    &__link {
        @include aLinks(16px);
    }
}

// Toggle Class Section //

.hamburger {
    position: absolute;
    margin-left: 10px;
}

.hamburger, .ex {
    display: none;
}

.show.menu {
    display: block;
}

.mainWrapper {
    margin-top: 150px;
    &__title {
        font-size: 50px;
        text-transform: $up;
        margin-bottom: 0;
    }
    &__btn {
        background-color: red;
    }
}

// Media Queries Section //

// Max width 900px //

@media (max-width: 900px) {
    .global__h2--flex {
        flex: 1 0 100%;
        text-align: center;
    }
    .nav {
        flex: 1 0 100%;
        &__container {
            justify-content: space-around;
        }
    }
}    

// Max Width 600px //

@media (max-width: 600px) {
    .hamburger, .menu {
        display: block;
        font-size: 25px;
    }
    .menu {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $secondary;
        color: white;
        margin: 0;
        text-align: center;
        z-index: 10;
	}

	.menu ul {
		display: flex;
		flex-direction: column;
    }
    
    .menu li {
        padding: 20px;
    }

	.menu ul a {
		text-align: center;
		width: 100%;
    }

    .menu .nav__link {
        font-size: 30px;
    }
    
    .ex {
        list-style-type: none;
        color: black;
        position: absolute;
        padding: 10px;
    }
}